!!!

%html
  %head
    %title
      Report - Besiege
  %body
    %h1
      Report
    %form{action: '/load', method: :post}
      %input{type: :text, name: :url, placeholder: 'E.g. www.mozilla.org'}
      %input{type: :submit, value: 'Test'}
    = yield
